@model IEnumerable<VoteSystem.Web.ViewModels.RateSystemViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {  
    @Styles.Render("~/bundles/introduction-page-css")
}

<div id="wrap">
    <header class="masthead"></header>
   
    <div id="nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">                    
                    <li>
                        <a href="#features">
                            Начало
                        </a>
                    </li>
                    <li>
                        <a href="#about-me">
                            За мен
                        </a>
                    </li>
                    <li>
                        <a href="#contact-me">
                            Контакти
                        </a>
                    </li>
                    <li>
                        @(Html.ActionLink<AccountController>("Вход", c => c.Login(string.Empty), new { area = string.Empty }, htmlAttributes: new { id = "loginLink" }))
                    </li>
                    <li>
                        @(Html.ActionLink<AccountController>("Регистрация", c => c.Register(), new { area = string.Empty }, htmlAttributes: new { id = "registerLink" }))
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div style="height: 955px; min-height: 500px;">
        <video autoplay loop>
            <source src="~/Content/Videos/stars.webm" type="video/webm" />
        </video>

        <div class="container container-table">
            <div class="row vertical-center-row">
                <div class="text-center col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                    <h1 class="vote-system-title">
                        СИСТЕМА ЗА ГЛАСУВАНЕ
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <section id="features" style="height: 955px; min-height: 500px;">
        Идея на приложението е да замени традиционото (и досадно) попълване на хартиени анкети.
        Преди началото на всяка анкета (ако сте добавени към нея) ще получите е-майл кога започва и кога свършва.
        Приложението е с интуитивен и опростен приятелски интерфейс.
    </section>

    <section id="about-me" style="height: 955px; min-height: 500px;">
        Здравейте. Аз се казвам Андриян Невелино Кръстев и съм създателя на това приложение.

        Използвам най-новите C# и JavaScript технологии като ASP.NET MVC, ASP.NET Web API, Entity Framework, AngularJS, jQuery, Twitter Bootstrap и други.

        Също така съм студент (магистратура) в Русенски университет "Ангел Кънчев" със специалност Компютърни Системи и Технологии.
    </section>

    <section id="contact-me" style="height: 955px; min-height: 500px;">
        Kontakti
    </section>
</div>

@section scripts {
    @Scripts.Render("~/bundles/introduction-page-js")
}