@model VoteSystem.Web.ViewModels.RateSystemViewModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section styles {
    <style>
        .daterangepicker th {
            border-radius: 0;
        }

         .validation-summary-errors ul {
            list-style-type: none;
            padding-left: 0;
        }
    </style>
 }

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="text-center">
                    <a class="btn btn-dark" href="@(Url.Action<RateSystemController>(c => c.Index()))">
                        <i class="glyphicon glyphicon-arrow-left"></i>
                        Cancel
                    </a>                   
                    <button class="btn btn-dark" type="submit">
                        <i class="fa fa-plus"></i>
                        Create
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @using (Html.BeginForm<RateSystemController>(c => c.Create(), FormMethod.Post, null, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel()
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    
}