@model VoteSystem.Web.ViewModels.UserViewModel

<tr>
    <td class="col-md-2 col-sm-2 col-xs-2">
        @Model.FN
    </td>
    <td class="col-md-3 col-sm-3 col-xs-3">
        @Model.FirstName
    </td>
    <td class="col-md-3 col-sm-3 col-xs-3">
       @Model.LastName
    </td>
    <td class="col-md-3 col-sm-3 col-xs-3">
        @Model.Email
    </td>
</tr>
