@using VoteSystem.Web.Infrastructure.Extensions

@model IEnumerable<VoteSystem.Web.ViewModels.RateSystemViewModel>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section styles { 
    <style>
        a.paginate_button.current {
            background-color: rgba(38, 185, 154, 0.59) !important;
            border-color: rgba(38, 185, 154, 0.59) !important;
        }
    </style>
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Vote systems</h2>               
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="example" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                        <tr>
                            <th class="col-md-3 col-sm-3 col-xs-3">Status</th>
                            <th class="col-md-3 col-sm-3 col-xs-3">Name</th>
                            <th class="col-md-3 col-sm-3 col-xs-3">Join</th>
                            <th class="col-md-3 col-sm-3 col-xs-3">Time to end</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var system in Model)
                        {
                            <tr>
                                <td class="col-md-3 col-sm-3 col-xs-3">
                                    <span class="btn btn-success btn-xs">Active</span>
                                </td>
                                <td class="col-md-3 col-sm-3 col-xs-3">@system.RateSystemName</td>
                                <td class="col-md-3 col-sm-3 col-xs-3">@(Html.ActionLink<FillRateSystemController>("Join", c => c.Fill(system.EncodedId)))</td>
                                <td class="col-md-3 col-sm-3 col-xs-3">@Html.TimeDisplay(system.EndDateTime)</td>
                            </tr>
                         }
                    </tbody>
              </table>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.NotificationMessage != null)
{
    //TODO make it works notifications
    @section Scripts{
        <script>
            $(function () {
                new PNotify({
                    title: "Password reset",
                    type: "success",
                    text: @((string)ViewBag.NotificationMessage)});
            });
        </script>
    }
}