@model IEnumerable<VoteSystem.Web.ViewModels.RateSystemViewModel>
@{  
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>            
            <th>System</th>
            <th>Add Questions</th>
            <th>Add Users</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    @item.RateSystemName
                </td>
                <td>
                   @(Html.ActionLink<QuestionController>("Add questions", c => c.Create())))
                </td>
                <td>
                    Add users
                </td>
            </tr>
        }
    </tbody>
</table>