@model VoteSystem.Web.ViewModels.QuestionAndAnswersViewModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using (Html.BeginForm<QuestionController>(c => c.Create(0), FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("rateSystemId", (int)ViewBag.RateSystemId)
    <div id="add-more-questions" class="btn btn-default">New Question</div>

    <div id="question-list">
        @foreach (var question in Model.Questions)
        {           
            Html.RenderPartial(PartialViewConstants.QuestionPartial);
        }
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $('#add-more-questions').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("MoreQuestions", "Ajax")',
                success: function (html) {
                    $('#question-list').append(html);
                },
                error: function (ex) {
                    alert('Can not add new question ' + ex);
                }
            });
        });
    </script>
}
