@model IEnumerable<VoteSystem.Web.ViewModels.QuestionViewModel>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="text-center">
    <a class="btn btn-dark" href="@(Url.Action<RateSystemController>(c => c.Index()))">
        <i class="glyphicon glyphicon-arrow-left"></i>
        Back
    </a>
</div>

<div class="row">
    @Html.DisplayForModel()
</div>
