<footer>
    <div class="">
        <p class="pull-right">
            &copy; @DateTime.Now.Year - Andriyan Krastev
            <span class="lead">
                <i class="fa fa-paw"></i>
                Vote System.
            </span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>